ACTION=="add", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0042",ATTRS{serial}=="55936343933351E0B060", MODE:="0666", SYMLINK+="ttyACM-AIR"

#ACTION=="add", ATTRS{idVendor}=="1d6b", ATTRS{idProduct}=="0002", ATTRS{serial}=="0000:00:14.0", MODE:="0666", SYMLINK+="ttyACM-PWR"


ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A75BR3PP",MODE:="0777", SYMLINK+="ttyUSB-MC"


ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AU02IORU",MODE:="0777", SYMLINK+="ttyUSB-PWR"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", \
    MODE="660", GROUP="plugdev", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1", \
    SYMLINK+="stlinkv2-1_%n"

