<launch>

    <include file="$(find zetabank_bringup)/launch/zetabank_remote.launch" />
  
  <include file="$(find zetabank_bringup)/launch/zetabank_lidar_sick561.launch"/>

  <include file="$(find depthimage_to_laserscan)/launch/multi_laser.launch" />


  <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" />


  <!-- <node pkg="zetabank_bringup" type="zetabank_diagnostics" name="zetabank_diagnostics" output="screen" />  -->
  
  <!-- <include file="$(find diffwheel_robot_control)/launch/zetabank_diffwheel_robot_control.launch"/> -->

  <node pkg="rosserial_python" type="serial_node.py" name="PWR">
    <param name="port" value="/dev/ttyUSB-PWR"/>
    <param name="baud" value="115200"/>
  </node>

  <include file="$(find zeta_mdrobot_motor_control)/launch/mdmc.launch" />

<!-- 
  <node pkg="rosserial_python" type="serial_node.py" name="IMU_sensor" output="screen">
    <param name="port" value="/dev/stlinkv2-1_1"/>
    <param name="baud" value="460800"/>
  </node> -->

  <node pkg="zetabank_bringup" type="stm_serial.py" name="stm_starter" output="screen" />

  <node pkg="rosserial_python" type="serial_node.py" name="AIR">
    <param name="port" value="/dev/ttyACM-AIR"/>
    <param name="baud" value="115200"/>
  </node>


  <!-- <node pkg="rosserial_python" type="serial_node.py" name="POWER">
    <param name="port" value="/dev/ttyUSB-PWR"/>
    <param name="baud" value="115200"/>
  </node>  -->
</launch>
