<launch>

    <arg name="serial_no_1"/>
    <arg name="serial_no_2"/>

<!-- real_sense on-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
  <!-- all vars that included.launch requires must be set -->
        <arg name="camera" value="cam_1" />
        <arg name="serial_no" value="$(arg serial_no_1)" />
        <arg name="align_depth" value="True" />
        <arg name="enable_infra" value="False" />
        <arg name="enable_infra1" value="False" />
        <arg name="enable_infra2" value="False" />
        <arg name="infra_rgb" value="False" />
        <!-- <arg name="enable_imu" value="False" /> -->
        <arg name="enable_fisheye" value="False" />
        <arg name="enable_gyro" value="False" />
        <arg name="enable_accel" value="False" />
        <arg name="enable_pointcloud" value="False" />
        <arg name="enable_sync" value="False" />
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
  <!-- all vars that included.launch requires must be set -->
        <arg name="camera" value="cam_2" />
        <arg name="serial_no" value="$(arg serial_no_2)" />
        <arg name="align_depth" value="True" />
        <arg name="enable_infra" value="False" />
        <arg name="enable_infra1" value="False" />
        <arg name="enable_infra2" value="False" />
        <arg name="infra_rgb" value="False" />
        <!-- <arg name="enable_imu" value="False" /> -->
        <arg name="enable_fisheye" value="False" />
        <arg name="enable_gyro" value="False" />
        <arg name="enable_accel" value="False" />
        <arg name="enable_pointcloud" value="False" />
        <arg name="enable_sync" value="False" />
    </include>

<!-- run multi laserscan node-->
    <node pkg= "depthimage_to_laserscan" type= "depthimage_to_laserscan" name="depthimage_to_laserscan_cam1" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
        <remap from="image" to="/cam_1/aligned_depth_to_color/image_raw"/>
        <param name="output_frame" value="cam_1_depth"/>
        <remap from="scan" to="/laserscan"/>
    </node>
    <node pkg= "depthimage_to_laserscan" type= "depthimage_to_laserscan" name="depthimage_to_laserscan_cam2" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
        <remap from="image" to="/cam_2/aligned_depth_to_color/image_raw"/>
        <param name="output_frame" value="cam_2_depth"/>
        <remap from="scan" to="/laserscan2"/>
    </node>
    
</launch>
